In [2]:
# import dependancies 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
# Path to CPI csv file, load in and read CPI data 
hpi_file = r"C:\Users\Sam Song\Desktop\Data Analytics Bootcamp\Project 1\Group-8_Project\Resources\Master_HPI_data.csv"


hpi_df = pd.read_csv(hpi_file)
hpi_df

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.91,100.97
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.30,100.91
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.69,100.99
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.32,101.37
...,...,...,...,...,...,...,...,...,...,...
120646,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2021,3,197.11,192.17
120647,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2021,4,186.88,187.82
120648,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,1,186.76,190.92
120649,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,2,182.17,183.41
120650,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,3,204.28,198.53

In [4]:
# Rename column headers
renamed_hpi_df = hpi_df.rename(columns={'hpi_type': 'HPI Type', 
                                        'hpi_flavor': 'HPI Flavor', 
                                        'frequency': 'Frequency', 
                                        'level': 'Level', 
                                        'place_name': 'Place Name',
                                        'place_id': 'Place ID', 
                                        'yr': 'Year', 
                                        'period': 'Period', 
                                        'index_nsa': 'Index (NSA)', 
                                        'index_sa': 'Index (SA)'})

renamed_hpi_df

,HPI Type,HPI Flavor,Frequency,Level,Place Name,Place ID,Year,Period,Index (NSA),Index (SA)
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.91,100.97
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.30,100.91
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.69,100.99
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.32,101.37
...,...,...,...,...,...,...,...,...,...,...
120646,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2021,3,197.11,192.17
120647,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2021,4,186.88,187.82
120648,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,1,186.76,190.92
120649,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,2,182.17,183.41
120650,developmental,purchase-only,quarterly,Puerto Rico,Puerto Rico,PR,2022,3,204.28,198.53

In [5]:
# Display only data for the U.S. and Census Divisions (monthly data)
monthly_hpi = renamed_hpi_df.loc[renamed_hpi_df['Frequency'] == 'monthly', :]
monthly_hpi

,HPI Type,HPI Flavor,Frequency,Level,Place Name,Place ID,Year,Period,Index (NSA),Index (SA)
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.91,100.97
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.30,100.91
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.69,100.99
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.32,101.37
...,...,...,...,...,...,...,...,...,...,...
3825,traditional,purchase-only,monthly,USA or Census Division,United States,USA,2022,7,401.08,394.40
3826,traditional,purchase-only,monthly,USA or Census Division,United States,USA,2022,8,397.17,392.18
3827,traditional,purchase-only,monthly,USA or Census Division,United States,USA,2022,9,396.94,392.77
3828,traditional,purchase-only,monthly,USA or Census Division,United States,USA,2022,10,395.38,392.78
3829,traditional,purchase-only,monthly,USA or Census Division,United States,USA,2022,11,392.84,392.26

In [6]:
# Exlcude HPI Type, Flavor, Frequency, Level of Geography, Place ID; All unneccessary for analysis
# Include only seasonally adjusted data
clean_monthly_df = monthly_hpi[['Place Name', 'Year', 'Period', 'Index (SA)']]
clean_monthly_df

                       Place Name  Year  Period  Index (SA)
0     East North Central Division  1991       1      100.00
1     East North Central Division  1991       2      100.97
2     East North Central Division  1991       3      100.91
3     East North Central Division  1991       4      100.99
4     East North Central Division  1991       5      101.37
...                           ...   ...     ...         ...
3825                United States  2022       7      394.40
3826                United States  2022       8      392.18
3827                United States  2022       9      392.77
3828                United States  2022      10      392.78
3829                United States  2022      11      392.26

[3830 rows x 4 columns]

In [7]:
clean_monthly_df['Index (SA) % Change'] = clean_monthly_df['Index (SA)'].pct_change()
clean_monthly_df

C:\Users\Sam Song\AppData\Local\Temp\ipykernel_21264\642446290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_monthly_df['Index (SA) % Change'] = clean_monthly_df['Index (SA)'].pct_change()

,Place Name,Year,Period,Index (SA),Index (SA) % Change
0,East North Central Division,1991,1,100.00,NaN
1,East North Central Division,1991,2,100.97,0.009700
2,East North Central Division,1991,3,100.91,-0.000594
3,East North Central Division,1991,4,100.99,0.000793
4,East North Central Division,1991,5,101.37,0.003763
...,...,...,...,...,...
3825,United States,2022,7,394.40,-0.004995
3826,United States,2022,8,392.18,-0.005629
3827,United States,2022,9,392.77,0.001504
3828,United States,2022,10,392.78,0.000025
3829,United States,2022,11,392.26,-0.001324

In [8]:
clean_monthly_df = clean_monthly_df.loc[clean_monthly_df["Period"] == 1]
clean_monthly_df

,Place Name,Year,Period,Index (SA),Index (SA) % Change
0,East North Central Division,1991,1,100.00,NaN
12,East North Central Division,1992,1,103.88,0.004545
24,East North Central Division,1993,1,108.54,0.001199
36,East North Central Division,1994,1,114.16,0.006170
48,East North Central Division,1995,1,119.32,0.006325
...,...,...,...,...,...
3771,United States,2018,1,251.50,0.007088
3783,United States,2019,1,264.93,0.005580
3795,United States,2020,1,280.76,0.006308
3807,United States,2021,1,315.28,0.011193
3819,United States,2022,1,373.13,0.014685

In [9]:
# checking for all unique regions
(clean_monthly_df["Place Name"].unique())

array(['East North Central Division', 'East South Central Division',
       'Middle Atlantic Division', 'Mountain Division',
       'New England Division', 'Pacific Division',
       'South Atlantic Division', 'West North Central Division',
       'West South Central Division', 'United States'], dtype=object)

In [10]:
final_df = clean_monthly_df
final_df

,Place Name,Year,Period,Index (SA),Index (SA) % Change
0,East North Central Division,1991,1,100.00,NaN
12,East North Central Division,1992,1,103.88,0.004545
24,East North Central Division,1993,1,108.54,0.001199
36,East North Central Division,1994,1,114.16,0.006170
48,East North Central Division,1995,1,119.32,0.006325
...,...,...,...,...,...
3771,United States,2018,1,251.50,0.007088
3783,United States,2019,1,264.93,0.005580
3795,United States,2020,1,280.76,0.006308
3807,United States,2021,1,315.28,0.011193
3819,United States,2022,1,373.13,0.014685

In [11]:
# Push the remade DataFrame to a new CSV file
final_df.to_csv('../Group-8_Project/Resources/sam_final_df', index= False, encoding='utf-8')

In [18]:
# Create dataframes for every region 

east_north_central = clean_monthly_df.loc[clean_monthly_df['Place Name'] == 'East North Central Division']
east_south_central = clean_monthly_df.loc[clean_monthly_df['Place Name'] == 'East South Central Division']
middle_atlantic_division = clean_monthly_df.loc[clean_monthly_df['Place Name'] == 'Middle Atlantic Division']
mountain_division = clean_monthly_df.loc[clean_monthly_df['Place Name'] == 'Mountain Division']
new_england_division = clean_monthly_df.loc[clean_monthly_df['Place Name'] == 'New England Division']
pacific_division = clean_monthly_df.loc[clean_monthly_df['Place Name'] == 'Pacific Division']
south_atlantic_division = clean_monthly_df.loc[clean_monthly_df['Place Name'] == 'South Atlantic Division']
west_north_central_division = clean_monthly_df.loc[clean_monthly_df['Place Name'] == 'West North Central Division']
west_south_central_division = clean_monthly_df.loc[clean_monthly_df['Place Name'] == 'West South Central Division']

east_north_central.head()

                     Place Name  Year  Period  Index (SA)  Index (SA) % Change
0   East North Central Division  1991       1      100.00                  NaN
12  East North Central Division  1992       1      103.88             0.004545
24  East North Central Division  1993       1      108.54             0.001199
36  East North Central Division  1994       1      114.16             0.006170
48  East North Central Division  1995       1      119.32             0.006325

In [20]:
east_north =  east_north_central['Index (SA)'].to_numpy()
east_north

array([100.  , 103.88, 108.54, 114.16, 119.32, 125.21, 130.35, 135.03,
       141.79, 150.12, 156.89, 164.29, 171.84, 178.72, 187.14, 192.46,
       192.76, 182.12, 172.2 , 165.15, 159.33, 156.5 , 162.76, 171.54,
       177.31, 185.93, 195.54, 208.72, 218.76, 231.96, 260.19, 298.53])